<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap" rel="stylesheet">

    <title>Listado de productos</title>
    <style>
      body { font-family: 'Outfit', Helvetica, sans-serif; }
      h1 { text-align: center; }

      .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        padding: 1rem;
      }
      
      article {
        min-width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      article img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      
      article h2 {
        margin: 0;
      }
      
      article span {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>Listado de productos</h1>
    <% if (productos.length > 0) { %>
      <div class="container">
        <% productos.forEach(function(item) { %>
          <%- include('partials/item', {item: item}) %>
        <% }) %>
      </div>
    <%} else { %>
      <h2>No hay productos disponibles para mostrar</h2>
    <% } %>
  </body>
</html>