doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Agragar nuevo producto

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap", rel="stylesheet")

    style 
      include ../public/post.css
  body
    h1 Agregar nuevo producto
    form(action="/productos" method="POST")
      label(for="title") Título
      input(type="text" name="title" id="title" required)
      label(for="price") Precio
      input(type="number" name="price" id="price" )
      label(for="thumbnail") URL de la imagen
      input(type="text" name="thumbnail" id="thumbnail")
      button(type="submit") Agregar producto